header.page-header.js-header
    .page-header__wrapper
        a.page-header__logo(aria-label='Логотип Университета')
            svg.page-header__logo-image(width='200' viewbox='0 0 135 41' )
                use(xlink:href="#logo-full")
        nav.page-header__nav
            #nav
                ul
                    li
                        a.active(href='https://rgsu.net') &Ncy;&acy;&shcy; &ucy;&ncy;&icy;&vcy;&iecy;&rcy;&scy;&icy;&tcy;&iecy;&tcy;
                        ul
                            li
                                a(href='#') &Scy;&vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy; &ocy;&bcy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&icy;
                            li
                                a(href='#') &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&acy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&yacy; &Rcy;&Gcy;&Scy;&Ucy; &icy; &scy;&tcy;&rcy;&acy;&tcy;&iecy;&gcy;&icy;&yacy; &Rcy;&Gcy;&Scy;&Ucy;
                            li
                                a.active(href='#') &Rcy;&ucy;&kcy;&ocy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy;
                                ul
                                    li
                                        a(href='#') &Ucy;&chcy;&iecy;&ncy;&ycy;&jcy; &scy;&ocy;&vcy;&iecy;&tcy; &Rcy;&Gcy;&Scy;&Ucy;
                                    li
                                        a(href='#') &Pcy;&rcy;&iecy;&zcy;&icy;&dcy;&icy;&ucy;&mcy; &Ucy;&chcy;&iecy;&ncy;&ocy;&gcy;&ocy; &scy;&ocy;&vcy;&iecy;&tcy;&acy; &Rcy;&Gcy;&Scy;&Ucy;
                                    li
                                        a(href='#') &Rcy;&iecy;&kcy;&tcy;&ocy;&rcy; &Rcy;&Gcy;&Scy;&Ucy;
                                    li
                                        a(href='#') &Rcy;&iecy;&kcy;&tcy;&ocy;&rcy;&acy;&tcy; &Rcy;&Gcy;&Scy;&Ucy;
                                    li
                                        a(href='#') &Pcy;&ocy;&pcy;&iecy;&chcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&jcy; &scy;&ocy;&vcy;&iecy;&tcy; &Rcy;&Gcy;&Scy;&Ucy;
                            li
                                a.active(href='#') &Ocy;&fcy;&icy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                                ul
                                    li
                                        a(href='#') &Pcy;&ocy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&iecy; &ocy;&bcy; &ocy;&bcy;&shchcy;&iecy;&zhcy;&icy;&tcy;&icy;&yacy;&khcy;
                                    li
                                        a(href='#') &Fcy;&ocy;&rcy;&mcy;&acy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&acy;, &vcy;&ycy;&dcy;&acy;&vcy;&acy;&iecy;&mcy;&ocy;&gcy;&ocy; &pcy;&ocy; &ocy;&kcy;&ocy;&ncy;&chcy;&acy;&ncy;&icy;&icy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&yacy;
                                    li
                                        a(href='#') &Scy;&acy;&mcy;&ocy;&ocy;&bcy;&scy;&lcy;&iecy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
                                    li
                                        a.active(href='#') &Icy;&ncy;&fcy;&rcy;&acy;&scy;&tcy;&rcy;&ucy;&kcy;&tcy;&ucy;&rcy;&acy;
                                    ul
                                        li
                                            a(href='#') &Kcy;&ocy;&rcy;&pcy;&ucy;&scy;&acy;
                                        li
                                            a(href='#') &Ocy;&bcy;&shchcy;&iecy;&zhcy;&icy;&tcy;&icy;&yacy;
                                        li
                                            a(href='#') &Dcy;&iecy;&tcy;&scy;&kcy;&icy;&jcy; &tcy;&iecy;&khcy;&ncy;&ocy;&pcy;&acy;&rcy;&kcy; &Rcy;&Gcy;&Scy;&Ucy;
                                        li
                                            a(href='#') &Bcy;&acy;&zcy;&ycy; &ocy;&tcy;&dcy;&ycy;&khcy;&acy;
                                        li
                                            a(href='#') &Bcy;&acy;&scy;&scy;&iecy;&jcy;&ncy; &Rcy;&Gcy;&Scy;&Ucy;
                                        li
                                            a(href='#') &KHcy;&rcy;&acy;&mcy;
                            li
                                a(href='#') &Mcy;&ucy;&zcy;&iecy;&jcy; &icy;&scy;&tcy;&ocy;&rcy;&icy;&icy; &Rcy;&Gcy;&Scy;&Ucy;
                        li
                        a(href='#') &Fcy;&acy;&kcy;&ucy;&lcy;&softcy;&tcy;&iecy;&tcy;&ycy;
                        li
                        a(href='#') &Fcy;&icy;&lcy;&icy;&acy;&lcy;&ycy;
                        li
                        a.active(href='#') &Ncy;&acy;&ucy;&chcy;&ncy;&ocy;-&icy;&scy;&scy;&lcy;&iecy;&dcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&acy;&yacy; &dcy;&iecy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
                        ul
                            li
                            a(href='#') &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy; &ncy;&acy;&ucy;&chcy;&ncy;&ocy;-&icy;&scy;&scy;&lcy;&iecy;&dcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&jcy; &dcy;&iecy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
                            li
                            a(href='#') &Scy;&tcy;&rcy;&ucy;&kcy;&tcy;&ucy;&rcy;&acy; &icy; &ocy;&rcy;&gcy;&acy;&ncy;&ycy; &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy;
                            li
                            a(href='#') &Ncy;&acy;&ucy;&chcy;&ncy;&ycy;&iecy; &icy;&scy;&scy;&lcy;&iecy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;
                            li
                            a(href='#') &Ncy;&acy;&ucy;&chcy;&ncy;&ycy;&iecy; &icy;&zcy;&dcy;&acy;&ncy;&icy;&yacy;
                            li
                            a(href='#') &Mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&yacy;
                            li
                            a(href='#') &Kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ycy; &icy; &gcy;&rcy;&acy;&ncy;&tcy;&ycy;
                            li
                            a(href='#') &Ncy;&acy;&ucy;&chcy;&ncy;&ycy;&iecy; &icy;&scy;&scy;&lcy;&iecy;&dcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &zcy;&acy; &scy;&chcy;&iecy;&tcy; &scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy; &Rcy;&Gcy;&Scy;&Ucy;
                            li
                            a(href='#') &Scy;&tcy;&ucy;&dcy;&iecy;&ncy;&chcy;&iecy;&scy;&kcy;&acy;&yacy; &ncy;&acy;&ucy;&kcy;&acy;
                            li
                            a(href='#') &Ncy;&acy;&ucy;&chcy;&ncy;&ocy;-&icy;&scy;&scy;&lcy;&iecy;&dcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&icy;&jcy; &pcy;&ocy;&tcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy; &Rcy;&Gcy;&Scy;&Ucy;
                            li
                            a(href='#') &Dcy;&icy;&scy;&scy;&iecy;&rcy;&tcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&iecy; &scy;&ocy;&vcy;&iecy;&tcy;&ycy;
                            li
                            a(href='#') &Icy;&ncy;&ncy;&ocy;&vcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&jcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy; &Rcy;&Gcy;&Scy;&Ucy;
                        li
                        a.active(href='#') &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&acy;&yacy; &dcy;&iecy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
                        ul
                            li
                            a(href='#') &Zcy;&acy;&rcy;&ucy;&bcy;&iecy;&zhcy;&ncy;&ycy;&iecy; &pcy;&acy;&rcy;&tcy;&ncy;&iecy;&rcy;&ycy; &Rcy;&Gcy;&Scy;&Ucy;
                            li
                            a(href='#') &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&ycy;&iecy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy; &icy; &gcy;&rcy;&acy;&ncy;&tcy;&ycy;
                            li
                            a(href='#') &Pcy;&rcy;&iecy;&dcy;&scy;&tcy;&acy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&ocy; &Rcy;&Gcy;&Scy;&Ucy; &ncy;&acy; &Kcy;&ucy;&bcy;&iecy;
                            li
                            a(href='#') &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&ycy;&iecy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ycy;
                            li
                            a(href='#') &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&ycy;&jcy; &lcy;&iecy;&tcy;&ncy;&icy;&jcy; &lcy;&acy;&gcy;&iecy;&rcy;&softcy; &Rcy;&Gcy;&Scy;&Ucy;
                            li
                            a(href='#') &Zcy;&icy;&mcy;&ncy;&yacy;&yacy; &mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&acy;&yacy; &ncy;&acy;&ucy;&chcy;&ncy;&acy;&yacy; &shcy;&kcy;&ocy;&lcy;&acy;
                            li
                            a(href='#') &Ocy;&fcy;&ocy;&rcy;&mcy;&lcy;&iecy;&ncy;&icy;&iecy; &pcy;&rcy;&icy;&gcy;&lcy;&acy;&shcy;&iecy;&ncy;&icy;&jcy;, &vcy;&icy;&zcy;, &rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&jcy;
                            li
                            a(href='#') &Icy;&ncy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&ncy;&ycy;&iecy; &scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy;&ycy; &ocy; &ncy;&acy;&scy;
                            li
                            a(href='#') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
                        li
                        a.active(href='#') &Ocy;&bcy;&shchcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&acy;&yacy; &dcy;&iecy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
                        ul
                            li
                            a(href='#') &Ocy; &ncy;&acy;&scy; &gcy;&ocy;&vcy;&ocy;&rcy;&yacy;&tcy;
                            li
                            a(href='#') &Pcy;&ocy;&chcy;&iecy;&tcy;&ncy;&ycy;&iecy; &dcy;&ocy;&kcy;&tcy;&ocy;&rcy;&acy;
                            li
                            a(href='#') &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&ycy;&jcy; &tscy;&iecy;&ncy;&tcy;&rcy;&acy; &shcy;&acy;&khcy;&mcy;&acy;&tcy;&ncy;&ocy;&gcy;&ocy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy; &Rcy;&Gcy;&Scy;&Ucy;
                            li
                            a(href='#') &Vcy;&ocy;&lcy;&ocy;&ncy;&tcy;&iecy;&rcy;&scy;&kcy;&icy;&jcy; &tscy;&iecy;&ncy;&tcy;&rcy;
                            li
                            a(href='#') &Kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy; &quot;&Lcy;&ucy;&chcy;&shcy;&icy;&jcy; &scy;&ocy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy; &gcy;&ocy;&dcy;&acy;&quot;
                            li
                            a(href='#') &Icy;&ncy;&kcy;&lcy;&yucy;&zcy;&icy;&vcy;&ncy;&ycy;&jcy; &scy;&pcy;&ocy;&rcy;&tcy;
                            li
                            a(href='#') &Rcy;&Gcy;&Scy;&Ucy; &pcy;&rcy;&ocy;&tcy;&icy;&vcy; &tcy;&iecy;&rcy;&rcy;&ocy;&rcy;&icy;&zcy;&mcy;&acy;
                            li
                            a(href='#') &Pcy;&rcy;&ocy;&tcy;&icy;&vcy;&ocy;&dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&iecy; &kcy;&ocy;&rcy;&rcy;&ucy;&pcy;&tscy;&icy;&icy;
                            li
                            a(href='#') &Vcy;&iecy;&tcy;&iecy;&rcy;&acy;&ncy;&scy;&kcy;&acy;&yacy; &ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&yacy;
                            li
                            a(href='#') &Fcy;&Ucy;&Mcy;&Ocy; &Scy;&Pcy;&Ocy; &quot;&Scy;&ocy;&tscy;&icy;&ocy;&lcy;&ocy;&gcy;&icy;&yacy; &icy; &scy;&ocy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;&quot; (39.00.00)
                            li
                            a(href='#')
                                | &Fcy;&Ucy;&Mcy;&Ocy; &Scy;&Pcy;&Ocy; &quot;&Scy;&rcy;&iecy;&dcy;&scy;&tcy;&vcy;&acy; &mcy;&acy;&scy;&scy;&ocy;&vcy;&ocy;&jcy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&icy; &icy;
                                | &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ocy;-&bcy;&icy;&bcy;&lcy;&icy;&ocy;&tcy;&iecy;&chcy;&ncy;&ocy;&iecy; &dcy;&iecy;&lcy;&ocy;&quot; (42.00.00)
                            li
                            a(href='#') &Pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &scy;&tcy;&acy;&ncy;&dcy;&acy;&rcy;&tcy;&ycy;
                        li
                        a.active(href='#') &Pcy;&rcy;&ocy;&fcy;&scy;&ocy;&yucy;&zcy;&ncy;&acy;&yacy; &dcy;&iecy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
                        ul
                            li
                            a(href='#') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
                            li
                            a(href='#') &Acy;&ncy;&ocy;&ncy;&scy;&ycy;
                            li
                            a(href='#') &Gcy;&ocy;&rcy;&yacy;&chcy;&acy;&yacy; &lcy;&icy;&ncy;&icy;&yacy; &Mcy;&Gcy;&Ocy; &pcy;&rcy;&ocy;&fcy;&scy;&ocy;&yucy;&zcy;&acy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;
                            li
                            a(href='#') &Gcy;&acy;&lcy;&iecy;&rcy;&iecy;&yacy; &Gcy;&iecy;&rcy;&ocy;&iecy;&vcy;
                            li
                            a(href='#') &Scy;&ocy;&scy;&tcy;&acy;&vcy; &pcy;&rcy;&ocy;&fcy;&kcy;&ocy;&mcy;&acy;
                            li
                            a(href='#') &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                            li
                            a(href='#') &Ocy;&tcy;&dcy;&ycy;&khcy; 2020
                            li
                            a(href='#') &Kcy;&acy;&kcy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&softcy;?
                        li
                        a.active(href='#') &Scy;&tcy;&ucy;&dcy;&iecy;&ncy;&chcy;&iecy;&scy;&kcy;&acy;&yacy; &tcy;&icy;&pcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&yacy;
                        ul
                            li
                            a(href='#') &Pcy;&ocy;&lcy;&icy;&gcy;&rcy;&acy;&fcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;
                            li
                            a(href='#') &Kcy;&ncy;&icy;&zhcy;&ncy;&acy;&yacy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&yacy;
                        li
                        a(href='#') &Ncy;&acy;&ucy;&chcy;&ncy;&acy;&yacy; &bcy;&icy;&bcy;&lcy;&icy;&ocy;&tcy;&iecy;&kcy;&acy;
                        li
                        a(href='#') &Pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&iecy; &scy;&ocy;&gcy;&lcy;&acy;&shcy;&iecy;&ncy;&icy;&iecy;
                        li
                        a(href='#') &Rcy;&iecy;&scy;&ucy;&rcy;&scy;&ncy;&ycy;&jcy; &ucy;&chcy;&iecy;&bcy;&ncy;&ocy;-&mcy;&iecy;&tcy;&ocy;&dcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &tscy;&iecy;&ncy;&tcy;&rcy;
                        li
                        a(href='#') &TScy;&iecy;&ncy;&tcy;&rcy; &mcy;&iecy;&dcy;&icy;&acy;&tscy;&icy;&icy; &icy; &ocy;&bcy;&shchcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&gcy;&ocy; &vcy;&zcy;&acy;&icy;&mcy;&ocy;&dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&yacy;
                    li
                    a.active(href='#') &Scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy;&acy;&mcy;
                    ul
                        li
                        a(href='#') &Icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yacy; &ocy;&bcy; &ocy;&scy;&iecy;&ncy;&ncy;&iecy;&mcy; &scy;&iecy;&mcy;&iecy;&scy;&tcy;&rcy;&iecy; 2020-2021 &ucy;&chcy;&iecy;&bcy;&ncy;&ocy;&gcy;&ocy; &gcy;&ocy;&dcy;&acy;
                        li
                        a.active(href='#') &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &zcy;&acy;&ncy;&yacy;&tcy;&icy;&jcy;
                        ul
                            li
                            a(href='#') &Scy;&kcy;&acy;&chcy;&acy;&tcy;&softcy; &rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &zcy;&acy;&ncy;&yacy;&tcy;&icy;&jcy;
                            li
                            a(href='#') &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;-&ocy;&tcy;&vcy;&iecy;&tcy; &pcy;&ocy; &rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&yucy; &ucy;&chcy;&iecy;&bcy;&ncy;&ycy;&khcy; &zcy;&acy;&ncy;&yacy;&tcy;&icy;&jcy;
                            li
                            a(href='#') &Zcy;&acy;&ocy;&chcy;&ncy;&acy;&yacy; &fcy;&ocy;&rcy;&mcy;&acy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&yacy;
                            li
                            a(href='#') &Zcy;&acy;&ncy;&yacy;&tcy;&icy;&yacy; &scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy;&ocy;&vcy; &zcy;&acy;&ocy;&chcy;&ncy;&ocy;&jcy; &fcy;&ocy;&rcy;&mcy;&ycy;
                        li
                        a.active(href='#') &TScy;&iecy;&ncy;&tcy;&rcy;&acy;&lcy;&icy;&zcy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&jcy; &dcy;&iecy;&kcy;&acy;&ncy;&acy;&tcy;
                        ul
                            li
                            a(href='#') &Scy;&tcy;&icy;&pcy;&iecy;&ncy;&dcy;&icy;&yacy;
                            li
                            a(href='#') &Bcy;&ucy;&khcy;&gcy;&acy;&lcy;&tcy;&iecy;&rcy;&icy;&yacy;
                            li
                            a(href='#') &Scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&yacy;
                            li
                            a(href='#') &Fcy;&icy;&ncy;&acy;&ncy;&scy;&ocy;&vcy;&acy;&yacy; &zcy;&acy;&dcy;&ocy;&lcy;&zhcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&softcy; &zcy;&acy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&iecy;
                            li
                            a(href='#') &Pcy;&ocy;&lcy;&ucy;&chcy;&iecy;&ncy;&icy;&iecy; &ocy;&rcy;&icy;&gcy;&icy;&ncy;&acy;&lcy;&ocy;&vcy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Pcy;&iecy;&rcy;&iecy;&vcy;&ocy;&dcy; &icy; &vcy;&ocy;&scy;&scy;&tcy;&acy;&ncy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; &scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy;&ocy;&vcy;
                        li
                        a(href='#') &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&acy;&yacy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy; &scy;&rcy;&iecy;&dcy;&acy;
                        li
                        a(href='#') &Scy;&tcy;&ucy;&dcy;&iecy;&ncy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &scy;&ocy;&vcy;&iecy;&tcy; - &Scy;&iecy;&ncy;&acy;&tcy;
                        li
                        a(href='#') &Scy;&pcy;&ocy;&rcy;&tcy;
                        li
                        a(href='#') &Ocy;&bcy;&shchcy;&iecy;&zhcy;&icy;&tcy;&icy;&yacy;
                        li
                        a(href='#') &Bcy;&icy;&bcy;&lcy;&icy;&ocy;&tcy;&iecy;&kcy;&acy;
                        li
                        a(href='#') &Vcy;&ocy;&lcy;&ocy;&ncy;&tcy;&iecy;&rcy;&scy;&kcy;&icy;&jcy; &tscy;&iecy;&ncy;&tcy;&rcy;&gt;
                        li
                        a.active(href='#') &Ocy;&scy;&vcy;&ocy;&iecy;&ncy;&icy;&iecy; &chcy;&acy;&scy;&tcy;&icy; &dcy;&icy;&scy;&tscy;&icy;&pcy;&lcy;&icy;&ncy; &ncy;&acy; &acy;&ncy;&gcy;&lcy;&icy;&jcy;&scy;&kcy;&ocy;&mcy; &yacy;&zcy;&ycy;&kcy;&iecy;
                        ul
                            li
                            a(href='#') &Lcy;&iecy;&kcy;&tscy;&icy;&icy; &icy;&ncy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&ncy;&ycy;&khcy; &pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&ocy;&rcy;&ocy;&vcy;
                            li
                            a(href='#') &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &zcy;&acy;&ncy;&yacy;&tcy;&icy;&jcy;
                            li
                            a(href='#') &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &zcy;&acy;&ncy;&yacy;&tcy;&icy;&jcy; &ncy;&acy; &acy;&ncy;&gcy;&lcy;&icy;&jcy;&scy;&kcy;&ocy;&mcy; &yacy;&zcy;&ycy;&kcy;&iecy;
                        li
                        a(href='#') &Zcy;&dcy;&ocy;&rcy;&ocy;&vcy;&ocy;&iecy; &pcy;&ocy;&kcy;&ocy;&lcy;&iecy;&ncy;&icy;&iecy;. &Scy;&Tcy;&Ocy;&Pcy; &Vcy;&Icy;&CHcy;/&Scy;&Pcy;&Icy;&Dcy;
                        li
                        a(href='#') &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy; &icy; &rcy;&acy;&zcy;&vcy;&icy;&tcy;&icy;&iecy; &Rcy;&Gcy;&Scy;&Ucy;
                        li
                        a(href='#') &Ncy;&ocy;&rcy;&mcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&iecy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                        li
                        a(href='#') &Ocy;&pcy;&lcy;&acy;&tcy;&acy; &ucy;&scy;&lcy;&ucy;&gcy;
                        li
                        a(href='#') &Zcy;&acy;&dcy;&acy;&tcy;&softcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;
                    li
                    a.active(href='#') &Pcy;&ocy;&scy;&tcy;&ucy;&pcy;&acy;&yucy;&shchcy;&icy;&mcy;
                    ul
                        li
                        a(href='#') &CHcy;&acy;&scy;&tcy;&ocy; &zcy;&acy;&dcy;&acy;&vcy;&acy;&iecy;&mcy;&ycy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;
                        li
                        a(href='#') &Kcy;&acy;&lcy;&softcy;&kcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy; &IEcy;&Gcy;&Ecy;
                        li
                        a(href='#') &Dcy;&iecy;&ncy;&softcy; &ocy;&tcy;&kcy;&rcy;&ycy;&tcy;&ycy;&khcy; &dcy;&vcy;&iecy;&rcy;&iecy;&jcy;
                        li
                        a(href='#') &Kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&icy; &icy; &mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&yacy; &Pcy;&rcy;&icy;&iecy;&mcy;&ncy;&ocy;&jcy; &kcy;&ocy;&mcy;&icy;&scy;&scy;&icy;&icy;
                        li
                        a(href='#') &Scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&yacy;
                        li
                        a(href='#') &Ncy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&kcy;&icy;
                        li
                        a.active(href='#') &Kcy;&ocy;&lcy;&lcy;&iecy;&dcy;&zhcy; &Rcy;&Gcy;&Scy;&Ucy;
                        ul
                            li
                            a(href='#') &Scy;&pcy;&ocy;&scy;&ocy;&bcy;&ycy; &pcy;&ocy;&dcy;&acy;&chcy;&icy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy; &icy; &kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &mcy;&iecy;&scy;&tcy;
                            li
                            a(href='#') &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy; 2020
                            li
                            a(href='#') &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy; 
                            li
                            a(href='#') &Kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ncy;&ycy;&iecy; &scy;&pcy;&icy;&scy;&kcy;&icy; &acy;&bcy;&icy;&tcy;&ucy;&rcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Pcy;&rcy;&icy;&kcy;&acy;&zcy;&ycy; &ocy; &zcy;&acy;&chcy;&icy;&scy;&lcy;&iecy;&ncy;&icy;&icy;
                            li
                            a(href='#') &Ucy;&chcy;&iecy;&bcy;&ncy;&ycy;&jcy; &pcy;&lcy;&acy;&ncy; &icy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ycy;&iecy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy;
                            li
                            a(href='#') &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Ncy;&ocy;&rcy;&mcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&iecy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                        li
                        a.active(href='#') &Bcy;&acy;&kcy;&acy;&lcy;&acy;&vcy;&rcy;&icy;&acy;&tcy;
                        ul
                            li
                            a(href='#') &Scy;&pcy;&ocy;&scy;&ocy;&bcy;&ycy; &pcy;&ocy;&dcy;&acy;&chcy;&icy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &pcy;&rcy;&icy;&iecy;&mcy;&acy;
                            li
                            a(href='#') &Ncy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&kcy;&icy; &icy; &kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &mcy;&iecy;&scy;&tcy;
                            li
                            a(href='#') &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&tscy;&ycy; &zcy;&acy;&dcy;&acy;&ncy;&icy;&jcy; &pcy;&rcy;&ocy;&shcy;&lcy;&ycy;&khcy; &lcy;&iecy;&tcy;
                            li
                            a(href='#') &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ncy;&ycy;&iecy; &scy;&pcy;&icy;&scy;&kcy;&icy; &acy;&bcy;&icy;&tcy;&ucy;&rcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Pcy;&rcy;&icy;&kcy;&acy;&zcy;&ycy; &ocy; &zcy;&acy;&chcy;&icy;&scy;&lcy;&iecy;&ncy;&icy;&icy;
                            li
                            a(href='#') &Ucy;&chcy;&iecy;&bcy;&ncy;&ycy;&jcy; &pcy;&lcy;&acy;&ncy; &icy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ycy;&iecy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy;
                            li
                            a(href='#') &Kcy;&acy;&lcy;&softcy;&kcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy; &IEcy;&Gcy;&Ecy;
                            li
                            a(href='#') &Ncy;&ocy;&rcy;&mcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&iecy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                        li
                        a.active(href='#') &Scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&tcy;&iecy;&tcy;
                        ul
                            li
                            a(href='#') &Scy;&pcy;&ocy;&scy;&ocy;&bcy;&ycy; &pcy;&ocy;&dcy;&acy;&chcy;&icy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &pcy;&rcy;&icy;&iecy;&mcy;&acy;
                            li
                            a(href='#') &Scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy; &icy; &kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &mcy;&iecy;&scy;&tcy;
                            li
                            a(href='#') &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&tscy;&ycy; &zcy;&acy;&dcy;&acy;&ncy;&icy;&jcy; &pcy;&rcy;&ocy;&shcy;&lcy;&ycy;&khcy; &lcy;&iecy;&tcy;
                            li
                            a(href='#') &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ncy;&ycy;&iecy; &scy;&pcy;&icy;&scy;&kcy;&icy; &acy;&bcy;&icy;&tcy;&ucy;&rcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Pcy;&rcy;&icy;&kcy;&acy;&zcy;&ycy; &ocy; &zcy;&acy;&chcy;&icy;&scy;&lcy;&iecy;&ncy;&icy;&icy;
                            li
                            a(href='#') &Ucy;&chcy;&iecy;&bcy;&ncy;&ycy;&jcy; &pcy;&lcy;&acy;&ncy; &icy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ycy;&iecy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy;
                            li
                            a(href='#') &Kcy;&acy;&lcy;&softcy;&kcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy; &IEcy;&Gcy;&Ecy;
                            li
                            a(href='#') &Ncy;&ocy;&rcy;&mcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&iecy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                        li
                        a.active(href='#') &Mcy;&acy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tcy;&ucy;&rcy;&acy;
                        ul
                            li
                            a(href='#') &Scy;&pcy;&ocy;&scy;&ocy;&bcy;&ycy; &pcy;&ocy;&dcy;&acy;&chcy;&icy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &pcy;&rcy;&icy;&iecy;&mcy;&acy;
                            li
                            a(href='#') &Ncy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&kcy;&icy; &icy; &kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &mcy;&iecy;&scy;&tcy;
                            li
                            a(href='#') &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ncy;&ycy;&iecy; &scy;&pcy;&icy;&scy;&kcy;&icy; &acy;&bcy;&icy;&tcy;&ucy;&rcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Pcy;&rcy;&icy;&kcy;&acy;&zcy;&ycy; &ocy; &zcy;&acy;&chcy;&icy;&scy;&lcy;&iecy;&ncy;&icy;&icy;
                            li
                            a(href='#') &Ucy;&chcy;&iecy;&bcy;&ncy;&ycy;&jcy; &pcy;&lcy;&acy;&ncy; &icy; &ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ycy;&iecy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy;
                            li
                            a(href='#') &Ncy;&ocy;&rcy;&mcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&iecy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                        li
                        a.active(href='#') &Acy;&scy;&pcy;&icy;&rcy;&acy;&ncy;&tcy;&ucy;&rcy;&acy;
                        ul
                            li
                            a(href='#') &Scy;&pcy;&ocy;&scy;&ocy;&bcy;&ycy; &pcy;&ocy;&dcy;&acy;&chcy;&icy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&ycy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Ncy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &mcy;&iecy;&scy;&tcy;
                            li
                            a(href='#') &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                            li
                            a(href='#') &Kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ncy;&ycy;&iecy; &scy;&pcy;&icy;&scy;&kcy;&icy; &acy;&bcy;&icy;&tcy;&ucy;&rcy;&icy;&iecy;&ncy;&tcy;&ocy;&vcy;
                            li
                            a(href='#') &Pcy;&rcy;&icy;&kcy;&acy;&zcy;&ycy; &ocy; &zcy;&acy;&chcy;&icy;&scy;&lcy;&iecy;&ncy;&icy;&icy;
                            li
                            a(href='#') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
                            li
                            a(href='#') &Ncy;&ocy;&rcy;&mcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&iecy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                            li
                            a(href='#') &Ncy;&ocy;&rcy;&mcy;&acy;&tcy;&icy;&vcy;&ncy;&ycy;&iecy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy; 2021
                        li
                        a(href='#') &Ocy;&bcy;&shchcy;&iecy;&zhcy;&icy;&tcy;&icy;&yacy;
                        li
                        a(href='#') &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&acy;&yacy; &dcy;&iecy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
                        li
                        a(href='#') &Ocy;&scy;&ocy;&bcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&icy; &pcy;&rcy;&icy;&iecy;&mcy;&acy; &vcy; 2020 &gcy;&ocy;&dcy;&ucy; (COVID-19)
                        li
                        a(href='#') &Dcy;&icy;&scy;&tcy;&acy;&ncy;&tscy;&icy;&ocy;&ncy;&ncy;&ocy;&iecy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&iecy;
                        li
                        a(href='#') &Pcy;&iecy;&rcy;&iecy;&vcy;&ocy;&dcy; &vcy; &Rcy;&Gcy;&Scy;&Ucy;
                        li
                        a.active(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy;
                        ul
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &ocy;&bcy;&shchcy;&iecy;&scy;&tcy;&vcy;&ocy;&zcy;&ncy;&acy;&ncy;&icy;&yucy;
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &rcy;&ucy;&scy;&scy;&kcy;&ocy;&mcy;&ucy; &yacy;&zcy;&ycy;&kcy;&ucy;
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &icy;&ncy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&ncy;&ocy;&mcy;&ucy; &yacy;&zcy;&ycy;&kcy;&ucy;
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &fcy;&icy;&zcy;&icy;&kcy;&iecy;
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &rcy;&icy;&scy;&ucy;&ncy;&kcy;&ucy;, &zhcy;&icy;&vcy;&ocy;&pcy;&icy;&scy;&icy;, &kcy;&ocy;&mcy;&pcy;&ocy;&zcy;&icy;&tscy;&icy;&icy;
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &lcy;&icy;&tcy;&iecy;&rcy;&acy;&tcy;&ucy;&rcy;&iecy;
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &icy;&scy;&tcy;&ocy;&rcy;&icy;&icy;
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &gcy;&iecy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&icy;
                            li
                            a(href='#') &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &kcy;&ucy;&rcy;&scy;&ycy; &pcy;&ocy; &bcy;&icy;&ocy;&lcy;&ocy;&gcy;&icy;&icy;
                        li
                        a(href='#') &Ocy;&pcy;&lcy;&acy;&tcy;&acy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&yacy;
                        li
                        a(href='#') &Pcy;&ocy;&fcy;&acy;&mcy;&icy;&lcy;&softcy;&ncy;&ycy;&iecy; &scy;&pcy;&icy;&scy;&kcy;&icy; &lcy;&icy;&tscy;, &pcy;&ocy;&dcy;&acy;&vcy;&shcy;&icy;&khcy; &dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                        li
                        a(href='#') &TScy;&iecy;&lcy;&iecy;&vcy;&ocy;&jcy; &pcy;&rcy;&icy;&iecy;&mcy;
                        li
                        a(href='#') &Rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy; &vcy;&scy;&tcy;&ucy;&pcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &icy;&scy;&pcy;&ycy;&tcy;&acy;&ncy;&icy;&jcy;
                        li
                        a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&tscy;&ycy; &dcy;&ocy;&gcy;&ocy;&vcy;&ocy;&rcy;&ocy;&vcy; &ocy;&bcy; &ocy;&kcy;&acy;&zcy;&acy;&ncy;&icy;&icy; &pcy;&lcy;&acy;&tcy;&ncy;&ycy;&khcy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&khcy; &ucy;&scy;&lcy;&ucy;&gcy;
                        li
                        a(href='#') &Ocy;&tscy;&iecy;&ncy;&icy;&tcy;&softcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &ucy;&scy;&lcy;&ucy;&gcy; &Pcy;&rcy;&icy;&iecy;&mcy;&ncy;&ocy;&jcy; &kcy;&ocy;&mcy;&scy;&icy;&icy;
                        li
                        a(href='#') &Icy;&ncy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&ncy;&ycy;&mcy; &scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy;&acy;&mcy;
                    li
                    a.active(href='#') &Tcy;&rcy;&ucy;&dcy;&ocy;&ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&ocy;
                    ul
                        li
                        a(href='#') &Scy;&ocy;&vcy;&iecy;&tcy;&ycy; &pcy;&ocy; &tcy;&rcy;&ucy;&dcy;&ocy;&ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&ucy;
                        li
                        a(href='#')
                            | &Scy;&ocy;&dcy;&iecy;&jcy;&scy;&tcy;&vcy;&icy;&iecy; &tcy;&rcy;&ucy;&dcy;&ocy;&ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&ucy; &scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy;&ocy;&vcy; &icy; &vcy;&ycy;&pcy;&ucy;&scy;&kcy;&ncy;&icy;&kcy;&ocy;&vcy; &scy; &Ocy;&Vcy;&Zcy; &icy;
                            | &icy;&ncy;&vcy;&acy;&lcy;&icy;&dcy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy;
                        li
                        a(href='#') &Vcy;&acy;&kcy;&acy;&ncy;&scy;&icy;&icy; &icy; &scy;&tcy;&acy;&zhcy;&icy;&rcy;&ocy;&vcy;&kcy;&icy;
                        li
                        a(href='#') &Vcy;&ocy;&lcy;&ocy;&ncy;&tcy;&iecy;&rcy;&scy;&kcy;&icy;&jcy; &tscy;&iecy;&ncy;&tcy;&rcy; &Rcy;&Gcy;&Scy;&Ucy; &dcy;&lcy;&yacy; &icy;&ncy;&ocy;&scy;&tcy;&rcy;&acy;&ncy;&ncy;&ycy;&khcy; &scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy;&ocy;&vcy;
                        li
                        a(href='#') &Bcy;&rcy;&iecy;&ncy;&dcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&iecy; &acy;&ucy;&dcy;&icy;&tcy;&ocy;&rcy;&icy;&icy;
                        li
                        a(href='#') &Rcy;&acy;&bcy;&ocy;&tcy;&ocy;&dcy;&acy;&tcy;&iecy;&lcy;&yacy;&mcy;
                    li
                    a.active(href='#') &Scy;&vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy; &ocy;&bcy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&icy;
                    ul
                        li
                        a(href='#') &Ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ycy;&iecy; &scy;&vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy;
                        li
                        a.active(href='#') &Scy;&tcy;&rcy;&ucy;&kcy;&tcy;&ucy;&rcy;&acy; &icy; &ocy;&rcy;&gcy;&acy;&ncy;&ycy; &ucy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&iecy;&jcy;
                        ul
                            li
                                a(href='#') &Ncy;&acy;&ucy;&chcy;&ncy;&ocy;-&mcy;&iecy;&tcy;&ocy;&dcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &scy;&ocy;&vcy;&iecy;&tcy; &Rcy;&Gcy;&Scy;&Ucy;
                            li
                                a(href='#') &Kcy;&acy;&dcy;&rcy;&ocy;&vcy;&ycy;&jcy; &kcy;&ocy;&mcy;&icy;&tcy;&iecy;&tcy; &Rcy;&Gcy;&Scy;&Ucy;
                            li
                                a(href='#') &Scy;&tcy;&ucy;&dcy;&iecy;&ncy;&chcy;&iecy;&scy;&kcy;&icy;&jcy; &scy;&ocy;&vcy;&iecy;&tcy; &Rcy;&Gcy;&Scy;&Ucy;
                            li
                                a(href='#') &ZHcy;&icy;&lcy;&icy;&shchcy;&ncy;&ocy;-&bcy;&ycy;&tcy;&ocy;&vcy;&acy;&yacy; &kcy;&ocy;&mcy;&icy;&scy;&scy;&icy;&yacy; &Rcy;&Gcy;&Scy;&Ucy;
                        li
                        a(href='#') &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&ycy;
                        li
                        a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
                        li
                        a(href='#') &Ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &scy;&tcy;&acy;&ncy;&dcy;&acy;&rcy;&tcy;&ycy;
                        li
                        a(href='#') &Rcy;&ucy;&kcy;&ocy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy;. &Pcy;&iecy;&dcy;&acy;&gcy;&ocy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy;(&ncy;&acy;&ucy;&chcy;&ncy;&ocy;-&pcy;&iecy;&dcy;&acy;&gcy;&ocy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&jcy;) &scy;&ocy;&scy;&tcy;&acy;&vcy;
                        li
                        a(href='#')
                            | &Mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;-&tcy;&iecy;&khcy;&ncy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&iecy; &ocy;&bcy;&iecy;&scy;&pcy;&iecy;&chcy;&iecy;&ncy;&icy;&iecy; &icy; &ocy;&scy;&ncy;&acy;&shchcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&softcy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy;
                            | &pcy;&rcy;&ocy;&tscy;&iecy;&scy;&scy;&acy;
                        li
                        a(href='#') &Scy;&tcy;&icy;&pcy;&iecy;&ncy;&dcy;&icy;&icy; &icy; &icy;&ncy;&ycy;&iecy; &vcy;&icy;&dcy;&ycy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&jcy; &pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&icy;
                        li
                        a(href='#') &Pcy;&lcy;&acy;&tcy;&ncy;&ycy;&iecy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&iecy; &ucy;&scy;&lcy;&ucy;&gcy;&icy;
                        li
                        a(href='#') &Fcy;&icy;&ncy;&acy;&ncy;&scy;&ocy;&vcy;&ocy;-&khcy;&ocy;&zcy;&yacy;&jcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&acy;&yacy; &dcy;&iecy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
                        li
                        a(href='#') &Vcy;&acy;&kcy;&acy;&ncy;&tcy;&ncy;&ycy;&iecy; &mcy;&iecy;&scy;&tcy;&acy; &dcy;&lcy;&yacy; &pcy;&rcy;&icy;&iecy;&mcy;&acy;(&pcy;&iecy;&rcy;&iecy;&vcy;&ocy;&dcy;&acy;)
                        li
                        a(href='#') &Dcy;&ocy;&scy;&tcy;&ucy;&pcy;&ncy;&acy;&yacy; &scy;&rcy;&iecy;&dcy;&acy;
                        li
                        a(href='#') &Mcy;&iecy;&zhcy;&dcy;&ucy;&ncy;&acy;&rcy;&ocy;&dcy;&ncy;&ocy;&iecy; &scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy;
                    li
                    a.active(href='#') &Mcy;&iecy;&dcy;&icy;&acy;&tscy;&iecy;&ncy;&tcy;&rcy;
                    ul
                        li
                        a(href='#') &Icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&acy;&yacy; &lcy;&iecy;&ncy;&tcy;&acy;
                        li
                        a(href='#') &Acy;&ncy;&ocy;&ncy;&scy;&ycy;
                        li
                        a(href='#') &Vcy;&icy;&dcy;&iecy;&ocy;&lcy;&iecy;&ncy;&tcy;&acy;
                        li
                        a(href='#') &Bcy;&rcy;&iecy;&ncy;&dcy;&bcy;&ucy;&kcy; &Rcy;&Gcy;&Scy;&Ucy;
            .page-header__personal-account
                a.page-header__personal-account-hover
                | &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;
                span.page-header__personal-account-arrow
                ul.page-header__personal-account-menu
                li.page-header__personal-account-menu-item
                    a(href='#') &Scy;&icy;&scy;&tcy;&iecy;&mcy;&acy; &dcy;&icy;&scy;&tcy;&acy;&ncy;&tscy;&icy;&ocy;&ncy;&ncy;&ocy;&gcy;&ocy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&yacy;
                li.page-header__personal-account-menu-item
                    a(href='#') &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy; &pcy;&ocy;&scy;&tcy;&ucy;&pcy;&acy;&yucy;&shchcy;&iecy;&gcy;&ocy;
                li.page-header__personal-account-menu-item
                    a(href='#') &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy; &pcy;&rcy;&iecy;&pcy;&ocy;&dcy;&acy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;
        .page-header__search
            input.page-header__search-input(type='search' placeholder='Поиск')
        button.page-header__toggler.js-menu-toggler(type='button' aria-label='Управление мобильным меню')
            span &Mcy;&iecy;&ncy;&yucy;
            span.page-header__toggler-item    
    //.page-header__main-menu.main-menu
        .page-header__wrapper
        ul.main-menu__list
            li.main-menu__list-item
            a.main-menu__list-link(href='#')
                span  &Ncy;&acy;&shcy; &ucy;&ncy;&icy;&vcy;&iecy;&rcy;&scy;&icy;&tcy;&iecy;&tcy;
            li.main-menu__list-item
            a.main-menu__list-link(href='#')
                span  &Scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy;&acy;&mcy;
            li.main-menu__list-item
            a.main-menu__list-link(href='#')
                span  &Pcy;&ocy;&scy;&tcy;&ucy;&pcy;&acy;&yucy;&shchcy;&icy;&mcy;
            li.main-menu__list-item
            a.main-menu__list-link(href='#')
                span  &Tcy;&rcy;&ucy;&dcy;&ocy;&ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&ocy;
            li.main-menu__list-item
            a.main-menu__list-link(href='#')
                span  &Scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&kcy;&acy;&mcy;
            li.main-menu__list-item
            ul.main-menu__social-list.social__list
                li.social__list-item
                a.social__list-link(href='#')
                    svg.social__list-image(viewbox='0 0 128 128' width='24' height='24')
                        use(xlink:href='#vkontakte')
                            | vkontakte
                li.social__list-item
                a.social__list-link(href='#')
                    svg.social__list-image(viewbox='0 0 128 128' width='24' height='24')
                        use(xlink:href='#facebook')
                            | facebook
                li.social__list-item
                a.social__list-link(href='#')
                    svg.social__list-image(viewbox='0 0 128 128' width='24' height='24')
                        use(xlink:href='#instagram')
                            | instagram
                li.social__list-item
                a.social__list-link(href='#')
                    svg.social__list-image(viewbox='0 0 128 128' width='24' height='24')
                        use(xlink:href='#youtube')
                            | youtube
