header.page-header.js-header
    .page-header__wrapper
        a.page-header__logo(aria-label='Логотип Университета')
            svg.page-header__logo-image(width='200' viewbox='0 0 135 41' )
                use(xlink:href="#logo-full")
        include ./_menu.pug    
        .page-header__search
            input.page-header__search-input(type='search' placeholder='Поиск')
        button.page-header__toggler.js-menu-toggler(type='button' aria-label='Управление мобильным меню')
            span &Mcy;&iecy;&ncy;&yucy;
            span.page-header__toggler-item    
    //.page-header__main-menu.main-menu
        .page-header__wrapper
        ul.main-menu__list
            li.main-menu__list-item
            a.main-menu__list-link(href='#')
                span  &Ncy;&acy;&shcy; &ucy;&ncy;&icy;&vcy;&iecy;&rcy;&scy;&icy;&tcy;&iecy;&tcy;
            li.main-menu__list-item
            a.main-menu__list-link(href='#')
                span  &Scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy;&acy;&mcy;
            li.main-menu__list-item
            a.main-menu__list-link(href='#')
                span  &Pcy;&ocy;&scy;&tcy;&ucy;&pcy;&acy;&yucy;&shchcy;&icy;&mcy;
            li.main-menu__list-item
            a.main-menu__list-link(href='#')
                span  &Tcy;&rcy;&ucy;&dcy;&ocy;&ucy;&scy;&tcy;&rcy;&ocy;&jcy;&scy;&tcy;&vcy;&ocy;
            li.main-menu__list-item
            a.main-menu__list-link(href='#')
                span  &Scy;&ocy;&tcy;&rcy;&ucy;&dcy;&ncy;&icy;&kcy;&acy;&mcy;
            li.main-menu__list-item
            ul.main-menu__social-list.social__list
                li.social__list-item
                a.social__list-link(href='#')
                    svg.social__list-image(viewbox='0 0 128 128' width='24' height='24')
                        use(xlink:href='#vkontakte')
                            | vkontakte
                li.social__list-item
                a.social__list-link(href='#')
                    svg.social__list-image(viewbox='0 0 128 128' width='24' height='24')
                        use(xlink:href='#facebook')
                            | facebook
                li.social__list-item
                a.social__list-link(href='#')
                    svg.social__list-image(viewbox='0 0 128 128' width='24' height='24')
                        use(xlink:href='#instagram')
                            | instagram
                li.social__list-item
                a.social__list-link(href='#')
                    svg.social__list-image(viewbox='0 0 128 128' width='24' height='24')
                        use(xlink:href='#youtube')
                            | youtube
