.main-nav.page-header__nav#nav.navigation-menu  
	ul.main-nav__list(data-delay='0.1')
		li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
			a.main-nav__item-link(href='/postupayushchim/' title='Поступающим' target='_self') Поступающим
			button.main-nav__submenu-toggle
			ul.main-nav__list.main-nav__list--submenu.level-1
				li.main-nav__item-backward
					button.item-backward__btn
						svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
							path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
					a.item-backward__link(href='/postupayushchim/' title='Поступающим' target='_self') Поступающим
				li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
					a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/' title='Прием в университет' target='_self') Прием в университет
					button.main-nav__submenu-toggle
					ul.main-nav__list.main-nav__list--submenu.level-2
						li.main-nav__item-backward
							button.item-backward__btn
								svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
									path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
							a.item-backward__link(href='/postupayushchim/priem-v-universitet/' title='Прием в университет' target='_self') Прием в университет
						li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
							
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/priem-2020/' title='Прием 2020' target='_self') Прием 2020
						li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/pravila-priema/' title='Правила приема' target='_self') Правила приема
						li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/podacha_documentov/' title='Подача документов' target='_self') Подача документов
						li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/rating-abiturientov/' title='Рейтинг абитуриентов' target='_self') Рейтинг абитуриентов
						li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/contest-applications/' title='Конкурс заявлений' target='_self') Конкурс заявлений
						li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/vstupitelnye-ispytaniya/' title='Вступительные испытания' target='_self') Вступительные испытания
						li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/prohodnye-bally/' title='Проходные баллы' target='_self') Проходные баллы
						li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/stoimost-obucheniya/' title='Стоимость обучения' target='_self') Стоимость обучения
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/prikazi-o-zachislenii/' title='Приказы о зачислении' target='_self') Приказы о зачислении
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/informaciya-dlya-postupivshikh/' title='Информация для поступивших (зачисленных)' target='_self') Информация для поступивших (зачисленных)
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/faq/' title='Вопрос-ответ' target='_self') Вопрос-ответ
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/informirovanie-postupauschih/' title='Информирование поступающих на бакалавриат/специалитет, в магистратуру, аспирантуру' target='_self')
								| Информирование поступающих на бакалавриат/специалитет, в магистратуру, аспирантуру
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/priem-v-universitet/dinamika-zapolneniya-byudzhetnykh-mest/' title='Динамика заполнения бюджетных мест' target='_self') Динамика заполнения бюджетных мест
				li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/' title='Подготовка к поступлению' target='_self') Подготовка к поступлению
					button.main-nav__submenu-toggle
					ul.main-nav__list.main-nav__list--submenu.level-2
						li.main-nav__item-backward
							button.item-backward__btn
								svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
									path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
							a.item-backward__link(href='/dovuzovskoe-obrazovanie/' title='Подготовка к поступлению' target='_self') Подготовка к поступлению
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/o-dovuzovskom-obrazovanii/' title='О довузовском образовании' target='_self') О довузовском образовании
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/injenernaya-shkola/' title='Инженерная школа' target='_self') Инженерная школа
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='http://edc.mospolytech.ru/technopark/' title='Детский технопарк' target='_blank') Детский технопарк
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/centr-obrazovatelnyh-tehnologiy/' title='Центр образовательных технологий' target='_self') Центр образовательных технологий
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/centr-tehnologicheskoy-podderjki-obrazovaniya/' title='Центр технологической поддержки образования (ЦТПО)' target='_self') Центр технологической поддержки образования (ЦТПО)
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/dovuzovskoe-obrazovanie-i-podgotovka-k-ege/' title='Довузовское образование и подготовка к ЕГЭ' target='_self') Довузовское образование и подготовка к ЕГЭ
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='https://juniorcampus.bmw.ru/' title='Junior Campus' target='_blank') Junior Campus
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='https://mospolyart.ru/' title='Школа ПОЛИАРТ' target='_blank') Школа ПОЛИАРТ
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/podgotovitelnye-kursy-v-hudojestvennoy-shkole-poligraf/' title='Художественная школа «Полиграф»' target='_self') Художественная школа «Полиграф»
				li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='http://lk.mospolytech.ru/user/sign-in/login' title='Личный кабинет' target='_blank') Личный кабинет
				li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/postupayushchim/dni-otkrytykh-dverey/' title='Дни открытых дверей' target='_self') Дни открытых дверей
				li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/postupayushchim/programmy-obucheniya/' title='Программы обучения' target='_self') Программы обучения
				li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='http://old.mospolytech.ru/index.php?id=3428' title='Заполнение вакантных мест' target='_blank') Заполнение вакантных мест
				li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/postupayushchim/perevod-iz-drugogo-vuza/' title='Перевод из другого вуза' target='_self') Перевод из другого вуза
				li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/postupayushchim/inostrannim-abiturientam/' title='Иностранным абитуриентам' target='_self') Иностранным абитуриентам
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/postupayushchim/celevoe-obuchenie/' title='Целевое обучение' target='_self') Целевое обучение
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/postupayushchim/invalidam-i-licam-s-ovz/' title='Инвалидам и лицам с ОВЗ' target='_self') Инвалидам и лицам с ОВЗ
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/filialy/' title='Филиалы' target='_self') Филиалы
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/adresa-i-kontakty/' title='Места обучения' target='_self') Места обучения
					button.main-nav__submenu-toggle
					ul.main-nav__list.main-nav__list--submenu.level-2
						li.main-nav__item-backward
							button.item-backward__btn
								svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
									path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
							a.item-backward__link(href='/ob-universitete/adresa-i-kontakty/' title='Места обучения' target='_self') Места обучения
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/ob-universitete/adresa-i-kontakty/uchetnaya-kartochka-i-bankovskie-rekvizity' title='Учетная карточка и банковские реквизиты' target='_self') Учетная карточка и банковские реквизиты
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/obschejitiya/' title='Общежития' target='_self') Общежития
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/postupayushchim/olimpiady/' title='Олимпиады' target='_self') Олимпиады
					button.main-nav__submenu-toggle
					ul.main-nav__list.main-nav__list--submenu.level-2
						li.main-nav__item-backward
							button.item-backward__btn
								svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
									path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
							a.item-backward__link(href='/postupayushchim/olimpiady/' title='Олимпиады' target='_self') Олимпиады
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/olimpiady/olimpiada-iskusstvo-grafiki/' title='Международная олимпиада школьников «Искусство графики»' target='_self') Международная олимпиада школьников «Искусство графики»
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/olimpiady/mezhvuzovskaya-matematicheskaya-olimpiada/' title='Объединённая межвузовская математическая олимпиада' target='_self') Объединённая межвузовская математическая олимпиада
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/olimpiady/olimpiada-dlya-shkolnikov-inzhenernaya-grafika/' title='Олимпиада для школьников по дисциплине «Инженерная графика»' target='_self') Олимпиада для школьников по дисциплине «Инженерная графика»
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/postupayushchim/olimpiady/olimpiada-triatlon-mospolytecha/' title='Олимпиада «Триатлон Мосполитеха»' target='_self') Олимпиада «Триатлон Мосполитеха»
				
		li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
			.nav-item__bg
			a.main-nav__item-link(href='/obuchauschimsya/' title='Обучающимся' target='_self') Обучающимся
			button.main-nav__submenu-toggle
			ul.main-nav__list.main-nav__list--submenu.level-1
				li.main-nav__item-backward
					button.item-backward__btn
						svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
							path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
					a.item-backward__link(href='/obuchauschimsya/' title='Обучающимся' target='_self') Обучающимся
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='https://e.mospolytech.ru/' title='Личный кабинет' target='_blank') Личный кабинет
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/obuchauschimsya/raspisaniya/' title='Расписания' target='_self') Расписания
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					.main-nav__item-link Многофункциональный центр
					button.main-nav__submenu-toggle
					ul.main-nav__list.main-nav__list--submenu.level-2
						li.main-nav__item-backward
							button.item-backward__btn
								svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
									path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
							.item-backward__link Многофункциональный центр
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/obuchauschimsya/uslugi-mnogofunkcionalnogo-centra/' title='Услуги Многофункционального центра' target='_self') Услуги Многофункционального центра
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/obuchauschimsya/mnogofunkcionalnyy-centr/otdelenie-na-bolshoy-semenovskoy/' title='Отделение «На Большой Семеновской»' target='_self') Отделение «На Большой Семеновской»
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/obuchauschimsya/mnogofunkcionalnyy-centr/otdelenie-na-avtozavodskoy/' title='Отделение «На Автозаводской»' target='_self') Отделение «На Автозаводской»
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/obuchauschimsya/mnogofunkcionalnyy-centr/otdelenie-na-pavla-korchagina/' title='Отделение «На Павла Корчагина»' target='_self') Отделение «На Павла Корчагина»
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/obuchauschimsya/mnogofunkcionalnyy-centr/otdelenie-na-pryanishnikova/' title='Отделение «На Прянишникова»' target='_self') Отделение «На Прянишникова»
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='http://profkommospolytech.ru/privilege' title='Стипендии и материальная помощь' target='_blank') Стипендии и материальная помощь
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/obschejitiya/' title='Общежития' target='_self') Общежития
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/obuchauschimsya/oplata-obucheniya/' title='Оплата обучения' target='_self') Оплата обучения
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/obuchauschimsya/voennoobyazannym-i-prizyvnikam/' title='Военнообязанным и призывникам' target='_self') Военнообязанным и призывникам
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/obuchauschimsya/nauka-dlya-obuchauschihsya/' title='Наука для обучающихся' target='_self') Наука для обучающихся
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/obuchauschimsya/aspirantura/' title='Аспирантура' target='_self') Аспирантура
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/obuchauschimsya/proektnaya-deyatelnost/' title='Проектная деятельность' target='_self') Проектная деятельность
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/obuchauschimsya/praktika-i-trudoustroystvo/' title='Практика и трудоустройство' target='_self') Практика и трудоустройство
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/obuchauschimsya/biblioteka/' title='Библиотека' target='_self') Библиотека
		li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
			.nav-item__bg
			a.main-nav__item-link(href='https://e.mospolytech.ru/' title='Работникам' target='_blank') Работникам
		li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
			.nav-item__bg
			a.main-nav__item-link(href='/ob-universitete/' title='Об университете' target='_self') Об университете
			button.main-nav__submenu-toggle
			ul.main-nav__list.main-nav__list--submenu.level-1
				li.main-nav__item-backward
					button.item-backward__btn
						svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
							path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
					a.item-backward__link(href='/ob-universitete/' title='Об университете' target='_self') Об университете
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/universitet-segodnya/' title='Университет сегодня' target='_self') Университет сегодня
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/istoriya/' title='История' target='_self') История
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/muzei/' title='Музеи' target='_self') Музеи
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/strategiya/' title='Стратегия' target='_self') Стратегия
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/rukovodstvo-i-struktura/' title='Руководство и структура' target='_self') Руководство и структура
					button.main-nav__submenu-toggle
					ul.main-nav__list.main-nav__list--submenu.level-2
						li.main-nav__item-backward
							button.item-backward__btn
								svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
									path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
							a.item-backward__link(href='/ob-universitete/rukovodstvo-i-struktura/' title='Руководство и структура' target='_self') Руководство и структура
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/ob-universitete/rukovodstvo-i-struktura/rektor/' title='Ректор' target='_self') Ректор
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/ob-universitete/rukovodstvo-i-struktura/uchenyj-sovet/' title='Ученый совет' target='_self') Ученый совет
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/ob-universitete/rukovodstvo-i-struktura/rektorat/' title='Ректорат' target='_self') Ректорат
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/ob-universitete/rukovodstvo-i-struktura/strukturnye-podrazdeleniya' title='Структурные подразделения' target='_self') Структурные подразделения
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='http://profkommospolytech.ru/' title='Профсоюзная организация' target='_blank') Профсоюзная организация
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/filialy/' title='Филиалы' target='_self') Филиалы
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/brandbook/' title='Брендбук' target='_self') Брендбук
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/adresa-i-kontakty/' title='Адреса и контакты' target='_self') Адреса и контакты
					button.main-nav__submenu-toggle
					ul.main-nav__list.main-nav__list--submenu.level-2
						li.main-nav__item-backward
							button.item-backward__btn
								svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
									path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
							a.item-backward__link(href='/ob-universitete/adresa-i-kontakty/' title='Адреса и контакты' target='_self') Адреса и контакты
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/ob-universitete/adresa-i-kontakty/uchetnaya-kartochka-i-bankovskie-rekvizity' title='Учетная карточка и банковские реквизиты' target='_self') Учетная карточка и банковские реквизиты
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/protivodejstvie-terrorizmu-i-ehkstremizmu/' title='Противодействие терроризму и экстремизму' target='_self') Противодействие терроризму и экстремизму
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/ob-universitete/protivodejstvie-korrupcii/' title='Противодействие коррупции' target='_self') Противодействие коррупции
		li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
			.nav-item__bg
			a.main-nav__item-link(href='/fakultety-i-instituty/' title='Факультеты и институты' target='_self') Факультеты и институты
			button.main-nav__submenu-toggle
			ul.main-nav__list.main-nav__list--submenu.level-1
				li.main-nav__item-backward
					button.item-backward__btn
						svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
							path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
					a.item-backward__link(href='/fakultety-i-instituty/' title='Факультеты и институты' target='_self') Факультеты и институты
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/fakultety-i-instituty/' title='О факультетах и институтах' target='_self') О факультетах и институтах
					button.main-nav__submenu-toggle
					ul.main-nav__list.main-nav__list--submenu.level-2
						li.main-nav__item-backward
							button.item-backward__btn
								svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
									path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
							a.item-backward__link(href='/fakultety-i-instituty/' title='О факультетах и институтах' target='_self') О факультетах и институтах
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/fakultety-i-instituty/' title='О факультетах и институтах' target='_self') О факультетах и институтах
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/injenernaya-shkola/' title='Инженерная школа' target='_self') Инженерная школа
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/o-dovuzovskom-obrazovanii/' title='Факультет довузовской подготовки' target='_self') Факультет довузовской подготовки
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/fakultety-i-instituty/transportnyj-fakultet/' title='Транспортный факультет' target='_self') Транспортный факультет
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/fakultety-i-instituty/fakultet-informacionnykh-tekhnologij/' title='Факультет информационных технологий' target='_self') Факультет информационных технологий
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/fakultety-i-instituty/fakultet-khimicheskoj-tekhnologii-i-biotekhnologii/' title='Факультет химической технологии и биотехнологии' target='_self') Факультет химической технологии и биотехнологии
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/fakultety-i-instituty/fakultet-ehkonomiki-i-upravleniya/' title='Факультет экономики и управления' target='_self') Факультет экономики и управления
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/fakultety-i-instituty/fakultet-mashinostroeniya/' title='Факультет машиностроения' target='_self') Факультет машиностроения
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/fakultety-i-instituty/fakultet-urbanistiki-i-gorodskogo-khozyajstva/' title='Факультет урбанистики и городского хозяйства' target='_self') Факультет урбанистики и городского хозяйства
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='https://old.mospolytech.ru/index.php?id=24' title='Институт графики и искусства книги имени В.А.Фаворского' target='_blank') Институт графики и искусства книги имени В.А.Фаворского
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='https://old.mospolytech.ru/index.php?id=24' title='Институт издательского дела и журналистики' target='_blank') Институт издательского дела и журналистики
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='https://old.mospolytech.ru/index.php?id=24' title='Институт коммуникаций и медиабизнеса' target='_blank') Институт коммуникаций и медиабизнеса
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/fakultety-i-instituty/institut-printmedia-i-informacionnykh-tekhnologij/' title='Институт принтмедиа и информационных технологий' target='_self') Институт принтмедиа и информационных технологий
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='https://old.mospolytech.ru/index.php?id=4449' title='Факультет базовых компетенций' target='_blank') Факультет базовых компетенций
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/injenernaya-shkola/' title='Инженерная школа' target='_self') Инженерная школа
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/o-dovuzovskom-obrazovanii/' title='Факультет довузовской подготовки' target='_self') Факультет довузовской подготовки
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/fakultety-i-instituty/transportnyj-fakultet/' title='Транспортный факультет' target='_self') Транспортный факультет
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/fakultety-i-instituty/fakultet-informacionnykh-tekhnologij/' title='Факультет информационных технологий' target='_self') Факультет информационных технологий
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/fakultety-i-instituty/fakultet-khimicheskoj-tekhnologii-i-biotekhnologii/' title='Факультет химической технологии и биотехнологии' target='_self') Факультет химической технологии и биотехнологии
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/fakultety-i-instituty/fakultet-ehkonomiki-i-upravleniya/' title='Факультет экономики и управления' target='_self') Факультет экономики и управления
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/fakultety-i-instituty/fakultet-mashinostroeniya/' title='Факультет машиностроения' target='_self') Факультет машиностроения
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/fakultety-i-instituty/fakultet-urbanistiki-i-gorodskogo-khozyajstva/' title='Факультет урбанистики и городского хозяйства' target='_self') Факультет урбанистики и городского хозяйства
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='https://old.mospolytech.ru/index.php?id=24' title='Институт графики и искусства книги имени В.А.Фаворского' target='_blank') Институт графики и искусства книги имени В.А.Фаворского
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='https://old.mospolytech.ru/index.php?id=24' title='Институт издательского дела и журналистики' target='_blank') Институт издательского дела и журналистики
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='https://old.mospolytech.ru/index.php?id=24' title='Институт коммуникаций и медиабизнеса' target='_blank') Институт коммуникаций и медиабизнеса
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/fakultety-i-instituty/institut-printmedia-i-informacionnykh-tekhnologij/' title='Институт принтмедиа и информационных технологий' target='_self') Институт принтмедиа и информационных технологий
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='https://old.mospolytech.ru/index.php?id=4449' title='Факультет базовых компетенций' target='_blank') Факультет базовых компетенций
		li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
			.nav-item__bg
			a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/' title='Довузовское образование' target='_self') Довузовское образование
			button.main-nav__submenu-toggle
			ul.main-nav__list.main-nav__list--submenu.level-1
				li.main-nav__item-backward
					button.item-backward__btn
						svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
							path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
					a.item-backward__link(href='/dovuzovskoe-obrazovanie/' title='Довузовское образование' target='_self') Довузовское образование
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/o-dovuzovskom-obrazovanii/' title='О довузовском образовании' target='_self') О довузовском образовании
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/injenernaya-shkola/' title='Инженерная школа' target='_self') Инженерная школа
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='http://edc.mospolytech.ru/technopark/' title='Детский технопарк' target='_blank') Детский технопарк
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/centr-obrazovatelnyh-tehnologiy/' title='Центр образовательных технологий' target='_self') Центр образовательных технологий
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/dovuzovskoe-obrazovanie/centr-tehnologicheskoy-podderjki-obrazovaniya/' title='Центр технологической поддержки образования (ЦТПО)' target='_self') Центр технологической поддержки образования (ЦТПО)
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/dovuzovskoe-obrazovanie-i-podgotovka-k-ege/' title='Довузовское образование и подготовка к ЕГЭ' target='_self') Довузовское образование и подготовка к ЕГЭ
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='https://juniorcampus.bmw.ru/' title='Junior Campus' target='_blank') Junior Campus
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='https://mospolyart.ru/' title='Школа ПОЛИАРТ' target='_blank') Школа ПОЛИАРТ
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/podgotovitelnye-kursy-v-hudojestvennoy-shkole-poligraf/' title='Художественная школа «Полиграф»' target='_self') Художественная школа «Полиграф»
		li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
			.nav-item__bg
			a.main-nav__item-link(href='/dop-obrazovanie/' title='Дополнительное образование' target='_self') Дополнительное образование
			button.main-nav__submenu-toggle
			ul.main-nav__list.main-nav__list--submenu.level-1
				li.main-nav__item-backward
					button.item-backward__btn
						svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
							path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
					a.item-backward__link(href='/dop-obrazovanie/' title='Дополнительное образование' target='_self') Дополнительное образование
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/dop-obrazovanie/povyshenie-kvalifikacii-i-professionalnaya-perepodgotovka/' title='Повышение квалификации и профессиональная переподготовка' target='_self') Повышение квалификации и профессиональная переподготовка
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/worldskills/' title='WorldSkills' target='_self') WorldSkills
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/moskovskoe-dolgoletie/' title='Московское долголетие' target='_self') Московское долголетие
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/dop-obrazovanie/avtoshkola/' title='Центр подготовки водителей (автошкола)' target='_self') Центр подготовки водителей (автошкола)
		li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
			.nav-item__bg
			a.main-nav__item-link(href='/studencheskaya-zhizn/' title='Студенческая жизнь' target='_self') Студенческая жизнь
			button.main-nav__submenu-toggle
			ul.main-nav__list.main-nav__list--submenu.level-1
				li.main-nav__item-backward
					button.item-backward__btn
						svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
							path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
					a.item-backward__link(href='/studencheskaya-zhizn/' title='Студенческая жизнь' target='_self') Студенческая жизнь
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/studencheskaya-zhizn/o-studencheskoy-jizni/' title='О студенческой жизни' target='_self') О студенческой жизни
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/studencheskaya-zhizn/kulturno-tvorcheskaya-deyatelnost/' title='Культурно-творческая деятельность' target='_self') Культурно-творческая деятельность
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/studencheskaya-zhizn/sportivnaya-deyatelnost/' title='Спортивная деятельность' target='_self') Спортивная деятельность
					button.main-nav__submenu-toggle
					ul.main-nav__list.main-nav__list--submenu.level-2
						li.main-nav__item-backward
							button.item-backward__btn
								svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
									path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
							a.item-backward__link(href='/studencheskaya-zhizn/sportivnaya-deyatelnost/' title='Спортивная деятельность' target='_self') Спортивная деятельность
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/studencheskaya-zhizn/sportivnaya-deyatelnost/obrazovatelnyy-kulturnyy-i-sportivno-tehnicheskiy-centr-polet/' title='ОКСТЦ «ПОЛЕТ»' target='_self') ОКСТЦ «ПОЛЕТ»
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/studencheskaya-zhizn/sportivnaya-deyatelnost/yaht-klub/' title='Яхт-клуб' target='_self') Яхт-клуб
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/studencheskaya-zhizn/obschestvennaya-deyatelnost/' title='Общественная деятельность' target='_self') Общественная деятельность
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/studencheskaya-zhizn/medical-help/' title='Медицинская помощь' target='_self') Медицинская помощь
					button.main-nav__submenu-toggle
					ul.main-nav__list.main-nav__list--submenu.level-2
						li.main-nav__item-backward
							button.item-backward__btn
								svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
									path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
							a.item-backward__link(href='/studencheskaya-zhizn/medical-help/' title='Медицинская помощь' target='_self') Медицинская помощь
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/studencheskaya-zhizn/medical-help/medicinskaya-slujba/' title='Медслужба' target='_self') Медслужба
						li.main-nav__item.main-nav__item--has-submenu(data-animate='')
							.nav-item__bg
							a.main-nav__item-link(href='/studencheskaya-zhizn/medical-help/slujba-psihologicheskoy-pomoschi/' title='Служба психологической помощи' target='_self') Служба психологической помощи
		li.main-nav__item.main-nav__item--has-submenu.animate(data-animate='')
			.nav-item__bg
			a.main-nav__item-link(href='/nauchnaya-deyatelnost/' title='Научная деятельность' target='_self') Научная деятельность
			button.main-nav__submenu-toggle
			ul.main-nav__list.main-nav__list--submenu.level-1
				li.main-nav__item-backward
					button.item-backward__btn
						svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
							path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
					a.item-backward__link(href='/nauchnaya-deyatelnost/' title='Научная деятельность' target='_self') Научная деятельность
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/nauchnaya-deyatelnost/jurnaly/' title='Журналы' target='_self') Журналы
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/nauchnaya-deyatelnost/dissertacionnye-sovety/' title='Диссертационные советы' target='_self') Диссертационные советы
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/nauchnaya-deyatelnost/rezultaty-nauchnoy-deyatelnosti-organizacii/' title='Результаты научной деятельности' target='_self') Результаты научной деятельности
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/nauchnaya-deyatelnost/rezultaty-nioktr/' title='Результаты НИОКТР' target='_self') Результаты НИОКТР
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/nauchnaya-deyatelnost/nauchnye-publikacii/' title='Научные публикации' target='_self') Научные публикации
		li.main-nav__item.main-nav__item--has-submenu(data-animate='')
			.nav-item__bg
			a.main-nav__item-link(href='/mejdunarodnaya-deyatelnost/' title='Международная деятельность' target='_self') Международная деятельность
			button.main-nav__submenu-toggle
			ul.main-nav__list.main-nav__list--submenu.level-1
				li.main-nav__item-backward
					button.item-backward__btn
						svg(xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50')
							path(d='M33.485 29L25 37.485 16.515 29M25 37V13' fill='none' fill-rule='evenodd' stroke='#FFF')
					a.item-backward__link(href='/mejdunarodnaya-deyatelnost/' title='Международная деятельность' target='_self') Международная деятельность
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/postupayushchim/inostrannim-abiturientam/' title='Поступление иностранных граждан' target='_self') Поступление иностранных граждан
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/mejdunarodnaya-deyatelnost/informaciya-dlya-inostrannyh-studentov/' title='Информация для иностранных студентов' target='_self') Информация для иностранных студентов
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/mejdunarodnaya-deyatelnost/podgotovitelnoe-otdelenie-dlya-inostrannyh-grajdan/' title='Подготовительное отделение для иностранных граждан' target='_self') Подготовительное отделение для иностранных граждан
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/mejdunarodnaya-deyatelnost/akademicheskaya-mobilnost/' title='Академическая мобильность' target='_self') Академическая мобильность
				li.main-nav__item.main-nav__item--has-submenu(data-animate='')
					.nav-item__bg
					a.main-nav__item-link(href='/mejdunarodnaya-deyatelnost/mejdunarodnoe-sotrudnichestvo/' title='Международное сотрудничество' target='_self') Международное сотрудничество
		li.main-nav__item.main-nav__item--has-submenu(data-animate='')
			.nav-item__bg
			a.main-nav__item-link(href='https://old.mospolytech.ru/index.php?id=3110' title='Сведения об образовательной организации' target='_blank') Сведения об образовательной организации
