.main-nav.page-header__nav#nav
	nav.page-header__nav
		#nav
			ul
				li
					a.active(href='#') Наш университет
					ul
						li
							a(href='#') Сведения об образовательной организации
						li
							a(href='#') Программа развития РГСУ и стратегия РГСУ
						li
							a.active(href='#') Руководство
							ul
								li
									a(href='#') Ученый совет РГСУ
								li
									a(href='#') Президиум Ученого совета РГСУ
								li
									a(href='#') Ректор РГСУ
								li
									a(href='#') Ректорат РГСУ
								li
									a(href='#') Попечительный совет РГСУ
						li
							a.active(href='#') Официальные документы
							ul
								li
									a(href='#') Положение об общежитиях
								li
									a(href='#') Форма документа, выдаваемого по окончании обучения
								li
									a(href='#') Самообследование
						li
							a.active(href='#') Инфраструктура
							ul
								li
									a(href='#') Корпуса
								li
									a(href='#') Общежития
								li
									a(href='#') Детский технопарк РГСУ
								li
									a(href='#') Базы отдыха
								li
									a(href='#') Бассейн РГСУ
								li
									a(href='#') Храм
								li
									a(href='#') Музей истории РГСУ
						li
							a(href='#') Факультеты
						li
							a(href='#') Филиалы
						li
							a.active(href='#') Научно-исследовательская деятельность
							ul
								li
									a(href='#') Результаты научно-исследовательской деятельности
								li
									a(href='#') Структура и органы управления
								li
									a(href='#') Научные исследования
								li
									a(href='#') Научные издания
								li
									a(href='#') Мероприятия
								li
									a(href='#') Конкурсы и гранты
								li
									a(href='#') Научные исследования за счет средств РГСУ
								li
									a(href='#') Студенческая наука
								li
									a(href='#') Научно-исследовательский потенциал РГСУ
								li
									a(href='#') Диссертационные советы
								li
									a(href='#') Инновационный проект РГСУ
						li
							a.active(href='#') Международная деятельность
							ul
								li
									a(href='#') Зарубежные партнеры РГСУ
								li
									a(href='#') Международные программы и гранты
								li
									a(href='#') Представительство РГСУ на Кубе
								li
									a(href='#') Международные проекты
								li
									a(href='#') Международный летний лагерь РГСУ
								li
									a(href='#') Зимняя международная научная школа
								li
									a(href='#') Оформление приглашений, виз, регистраций
								li
									a(href='#') Иностранные студенты о нас
								li
									a(href='#') Контакты
						li
							a.active(href='#') Общественная деятельность
							ul
								li
									a(href='#') О нас говорят
								li
									a(href='#') Почетные доктора
								li
									a(href='#') Международный центра шахматного образования РГСУ
								li
									a(href='#') Волонтерский центр
								li
									a(href='#') Конкурс "Лучший социальный проект года"
								li
									a(href='#') Инклюзивный спорт
								li
									a(href='#') РГСУ против терроризма
								li
									a(href='#') Противодействие коррупции
								li
									a(href='#') Ветеранская организация
								li
									a(href='#') ФУМО СПО "Социология и социальная работа" (39.00.00)
								li
									a(href='#')
										| ФУМО СПО "Средства массовой информации и
										| информационно-библиотечное дело" (42.00.00)
								li
									a(href='#') Профессиональные стандарты
						li
							a.active(href='#') Профсоюзная деятельность
							ul
								li
									a(href='#') Новости
								li
									a(href='#') Анонсы
								li
									a(href='#') Горячая линия МГО профсоюза образования
								li
									a(href='#') Галерея Героев
								li
									a(href='#') Состав профкома
								li
									a(href='#') Документы
								li
									a(href='#') Отдых 2020
								li
									a(href='#') Как вступить?
						li
							a.active(href='#') Студенческая типография
							ul
								li
									a(href='#') Полиграфические услуги
								li
									a(href='#') Книжная продукция
						li
							a(href='#') Научная библиотека
						li
							a(href='#') Пользовательское соглашение
						li
							a(href='#') Ресурсный учебно-методический центр
						li
							a(href='#') Центр медиации и общественного взаимодействия
				li
					a.active(href='#') Студентам
					ul
						li
							a(href='#') Информация об осеннем семестре 2020-2021 учебного года
						li
							a.active(href='#') Расписание занятий
							ul
								li
									a(href='#') Скачать расписание занятий
								li
									a(href='#') Вопрос-ответ по расписанию учебных занятий
								li
									a(href='#') Заочная форма обучения
								li
									a(href='#') Занятия студентов заочной формы
						li
							a.active(href='#') Централизованный деканат
							ul
								li
									a(href='#') Стипендия
								li
									a(href='#') Бухгалтерия
								li
									a(href='#') Стоимость обучения
								li
									a(href='#') Финансовая задолженность за обучение
								li
									a(href='#') Получение оригиналов документов
								li
									a(href='#') Перевод и восстановление студентов
						li
							a(href='#') Электронная образовательная среда
						li
							a(href='#') Студенческий совет - Сенат
						li
							a(href='#') Спорт
						li
							a(href='#') Общежития
						li
							a(href='#') Библиотека
						li
							a(href='#') Волонтерский центр>
						a(href='#')
						li
							a(href='#')
							a.active(href='#') Освоение части дисциплин на английском языке
							ul
								li
									a(href='#') Лекции иностранных профессоров
								li
									a(href='#') Расписание занятий
								li
									a(href='#') Расписание занятий на английском языке
						li
							a(href='#') Здоровое поколение. СТОП ВИЧ/СПИД
						li
							a(href='#') Поддержка и развитие РГСУ
						li
							a(href='#') Нормативные документы
						li
							a(href='#') Оплата услуг
						li
							a(href='#') Задать вопрос
				li
					a.active(href='#') Поступающим
					ul
						li
							a(href='#') Часто задаваемые вопросы
						li
							a(href='#') Калькулятор ЕГЭ
						li
							a(href='#') День открытых дверей
						li
							a(href='#') Консультации и мероприятия Приемной комиссии
						li
							a(href='#') Стоимость обучения
						li
							a(href='#') Направления подготовки
						li
							a.active(href='#') Колледж РГСУ
							ul
								li
									a(href='#') Способы подачи документов
								li
									a(href='#') Специальности и количество мест
								li
									a(href='#') Расписание вступительных испытаний 2020
								li
									a(href='#') Результаты вступительных испытаний 
								li
									a(href='#') Конкурсные списки абитуриентов
								li
									a(href='#') Приказы о зачислении
								li
									a(href='#') Учебный план и основные образовательные программы
								li
									a(href='#') Результаты вступительных испытаний
								li
									a(href='#') Нормативные документы
						li
							a.active(href='#') Бакалавриат
							ul
								li
									a(href='#') Способы подачи документов
								li
									a(href='#') Условия приема
								li
									a(href='#') Направления подготовки и количество мест
								li
									a(href='#') Расписание вступительных испытаний
								li
									a(href='#') Образцы заданий прошлых лет
								li
									a(href='#') Программы вступительных испытаний
								li
									a(href='#') Результаты вступительных испытаний
								li
									a(href='#') Конкурсные списки абитуриентов
								li
									a(href='#') Приказы о зачислении
								li
									a(href='#') Учебный план и основные образовательные программы
								li
									a(href='#') Калькулятор ЕГЭ
								li
									a(href='#') Нормативные документы
						li
							a.active(href='#') Специалитет
							ul
								li
									a(href='#') Способы подачи документов
								li
									a(href='#') Условия приема
								li
									a(href='#') Специальности и количество мест
								li
									a(href='#') Расписание вступительных испытаний
								li
									a(href='#') Образцы заданий прошлых лет
								li
									a(href='#') Программы вступительных испытаний
								li
									a(href='#') Результаты вступительных испытаний
								li
									a(href='#') Конкурсные списки абитуриентов
								li
									a(href='#') Приказы о зачислении
								li
									a(href='#') Учебный план и основные образовательные программы
								li
									a(href='#') Калькулятор ЕГЭ
								li
									a(href='#') Нормативные документы
						li
							a.active(href='#') Магистратура
							ul
								li
									a(href='#') Способы подачи документов
								li
									a(href='#') Условия приема
								li
									a(href='#') Направления подготовки и количество мест
								li
									a(href='#') Расписание вступительных испытаний
								li
									a(href='#') Программы вступительных испытаний
								li
									a(href='#') Результаты вступительных испытаний
								li
									a(href='#') Конкурсные списки абитуриентов
								li
									a(href='#') Приказы о зачислении
								li
									a(href='#') Учебный план и основные образовательные программы
								li
									a(href='#') Нормативные документы
						li
							a.active(href='#') Аспирантура
							ul
								li
									a(href='#') Способы подачи документов
								li
									a(href='#') Программы вступительных испытаний
								li
									a(href='#') Направления количество мест
								li
									a(href='#') Расписание вступительных испытаний
								li
									a(href='#') Результаты вступительных испытаний
								li
									a(href='#') Конкурсные списки абитуриентов
								li
									a(href='#') Приказы о зачислении
								li
									a(href='#') Контакты
								li
									a(href='#') Нормативные документы
								li
									a(href='#') Нормативные документы 2021
						li
							a(href='#') Общежития
						li
							a(href='#') Международная деятельность
						li
							a(href='#') Особенности приема в 2020 году (COVID-19)
						li
							a(href='#') Дистанционное обучение
						li
							a(href='#') Перевод в РГСУ
						li
							a.active(href='#') Подготовительные курсы
							ul
								li
									a(href='#') Подготовительные курсы по математике
								li
									a(href='#') Подготовительные курсы по обществознанию
								li
									a(href='#') Подготовительные курсы по русскому языку
								li
									a(href='#') Подготовительные курсы по иностранному языку
								li
									a(href='#') Подготовительные курсы по информатике
								li
									a(href='#') Подготовительные курсы по физике
								li
									a(href='#') Подготовительные курсы по рисунку, живописи, композиции
								li
									a(href='#') Подготовительные курсы по литературе
								li
									a(href='#') Подготовительные курсы по истории
								li
									a(href='#') Подготовительные курсы по географии
								li
									a(href='#') Подготовительные курсы по биологии
						li
							a(href='#') Оплата обучения
						li
							a(href='#') Пофамильные списки лиц, подавших документы
						li
							a(href='#') Целевой прием
						li
							a(href='#') Расписание вступительных испытаний
						li
							a(href='#') Образцы договоров об оказании платных образовательных услуг
						li
							a(href='#') Оценить качество услуг Приемной комсии
						li
							a(href='#') Иностранным студентам
				li
					a.active(href='#') Трудоустройство
					ul
						li
							a(href='#') Советы по трудоустройству
						li
							a(href='#')
								| Содействие трудоустройству студентов и выпускников с ОВЗ и
								| инвалидностью
						li
							a(href='#') Вакансии и стажировки
						li
							a(href='#') Волонтерский центр РГСУ для иностранных студентов
						li
							a(href='#') Брендированные аудитории
						li
							a(href='#') Работодателям
				li
					a.active(href='#') Сведения об образовательной организации
					ul
						li
							a(href='#') Основные сведения
						li
							a.active(href='#') Структура и органы управления образовательной организацией
							ul
								li
									a(href='#') Научно-методический совет РГСУ
								li
									a(href='#') Кадровый комитет РГСУ
								li
									a(href='#') Студенческий совет РГСУ
								li
									a(href='#') Жилищно-бытовая комиссия РГСУ
						li
							a(href='#') Документы
						li
							a(href='#') Образование
						li
							a(href='#') Образовательные стандарты
						li
							a(href='#') Руководство. Педагогический(научно-педагогический) состав
						li
							a(href='#')
								| Материально-техническое обеспечение и оснащенность образовательного
								| процесса
						li
							a(href='#') Стипендии и иные виды материальной поддержки
						li
							a(href='#') Платные образовательные услуги
						li
							a(href='#') Финансово-хозяйственная деятельность
						li
							a(href='#') Вакантные места для приема(перевода)
						li
							a(href='#') Доступная среда
						li
							a(href='#') Международное сотрудничество
				li
					a.active(href='#') Медиацентр
					ul
						li
							a(href='#') Информационная лента
						li
							a(href='#') Анонсы
						li
							a(href='#') Видеолента
						li
							a(href='#') Брендбук РГСУ



