section.news
	.news__wrapper
		.news__container
		h4.news__title
			a(href='#') &Ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy;
		a.news__image-container(href='#')
			img(src='https://rgsu.net/netcat_files/336/754/pre11_489.jpg' alt='Круглый стол «Духовные истоки величия имиджа России»')
		article.news__card
			a(href='#')
			span 03 &ocy;&kcy;&tcy;&yacy;&bcy;&rcy;&yacy;, 2020
			p.news__card-description
				| &Kcy;&rcy;&ucy;&gcy;&lcy;&ycy;&jcy; &scy;&tcy;&ocy;&lcy; &laquo;&Dcy;&ucy;&khcy;&ocy;&vcy;&ncy;&ycy;&iecy; &icy;&scy;&tcy;&ocy;&kcy;&icy; &vcy;&iecy;&lcy;&icy;&chcy;&icy;&yacy; &icy;&mcy;&icy;&dcy;&zhcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
		article.news__card
			a(href='#')
			span 03 &ocy;&kcy;&tcy;&yacy;&bcy;&rcy;&yacy;, 2020
			p.news__card-description
				| &Kcy;&rcy;&ucy;&gcy;&lcy;&ycy;&jcy; &scy;&tcy;&ocy;&lcy; &laquo;&Dcy;&ucy;&khcy;&ocy;&vcy;&ncy;&ycy;&iecy; &icy;&scy;&tcy;&ocy;&kcy;&icy; &vcy;&iecy;&lcy;&icy;&chcy;&icy;&yacy; &icy;&mcy;&icy;&dcy;&zhcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
		article.news__card
			a(href='#')
			span 03 &ocy;&kcy;&tcy;&yacy;&bcy;&rcy;&yacy;, 2020
			p.news__card-description
				| &Kcy;&rcy;&ucy;&gcy;&lcy;&ycy;&jcy; &scy;&tcy;&ocy;&lcy; &laquo;&Dcy;&ucy;&khcy;&ocy;&vcy;&ncy;&ycy;&iecy; &icy;&scy;&tcy;&ocy;&kcy;&icy; &vcy;&iecy;&lcy;&icy;&chcy;&icy;&yacy; &icy;&mcy;&icy;&dcy;&zhcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
		a.news__button &Bcy;&ocy;&lcy;&softcy;&shcy;&iecy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&iecy;&jcy;
		.news__container
		h4.news__title.news__title--announce
			span &Bcy;&lcy;&icy;&zhcy;&acy;&jcy;&shcy;&icy;&iecy; &scy;&ocy;&bcy;&ycy;&tcy;&icy;&yacy;
		a.news__image-container(href='#')
			img(src='https://rgsu.net/netcat_files/336/754/pre11_489.jpg' alt='Круглый стол «Духовные истоки величия имиджа России»')
		article.news__card
			a(href='#')
			span 03 &ocy;&kcy;&tcy;&yacy;&bcy;&rcy;&yacy;, 2020
			p.news__card-description
				| &Kcy;&rcy;&ucy;&gcy;&lcy;&ycy;&jcy; &scy;&tcy;&ocy;&lcy; &laquo;&Dcy;&ucy;&khcy;&ocy;&vcy;&ncy;&ycy;&iecy; &icy;&scy;&tcy;&ocy;&kcy;&icy; &vcy;&iecy;&lcy;&icy;&chcy;&icy;&yacy; &icy;&mcy;&icy;&dcy;&zhcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
		article.news__card
			a(href='#')
			span 03 &ocy;&kcy;&tcy;&yacy;&bcy;&rcy;&yacy;, 2020
			p.news__card-description
				| &Kcy;&rcy;&ucy;&gcy;&lcy;&ycy;&jcy; &scy;&tcy;&ocy;&lcy; &laquo;&Dcy;&ucy;&khcy;&ocy;&vcy;&ncy;&ycy;&iecy; &icy;&scy;&tcy;&ocy;&kcy;&icy; &vcy;&iecy;&lcy;&icy;&chcy;&icy;&yacy; &icy;&mcy;&icy;&dcy;&zhcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
		article.news__card
			a(href='#')
			span 03 &ocy;&kcy;&tcy;&yacy;&bcy;&rcy;&yacy;, 2020
			p.news__card-description
				| &Kcy;&rcy;&ucy;&gcy;&lcy;&ycy;&jcy; &scy;&tcy;&ocy;&lcy; &laquo;&Dcy;&ucy;&khcy;&ocy;&vcy;&ncy;&ycy;&iecy; &icy;&scy;&tcy;&ocy;&kcy;&icy; &vcy;&iecy;&lcy;&icy;&chcy;&icy;&yacy; &icy;&mcy;&icy;&dcy;&zhcy;&acy; &Rcy;&ocy;&scy;&scy;&icy;&icy;&raquo;
		a.news__button &Bcy;&ocy;&lcy;&softcy;&shcy;&iecy; &acy;&ncy;&ocy;&ncy;&scy;&ocy;&vcy;
