.page-header {
  background-color: #00314f;
  @media (min-width: 1400px) {
    background-color: #fff;
  }
}

.page-header__wrapper {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//left-header-column {toggler, menu}

.page-header__toggler {
  @include btn-reset;
  position: relative;
  width: 27px;
  height: 27px;
  font-size: 0;
  z-index: 2;
  @media (min-width: 1400px) {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    padding-left: 18px;
    padding-right: 15px;
    justify-content: space-between;
    background-color: #00314f;
    color: #fff;
    width: 132px;
    height: 54px;
    order: -1;
    .page-header--menu-opened & {
      font-size: 0;
      order: 3;
    }
  }
}

.page-header__toggler-item {
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    height: 3px;
    background-color: $c-light;
    transition: 0.5s ease-in-out;
  }

  &::before {
    top: 0;
    width: 27px;
    box-shadow: 0 24px 0 0 $c-light;
  }

  &::after {
    top: 12px;
    width: 27px;
  }

  .page-header--menu-opened & {
    transition: 2s;
    font-size: 0;
    width: 27px;
    height: 27px;
    &::before,
    &::after {
      top: 50%;
      transition: 0.5s ease-in-out;
      transform: translate(-50%) rotate(45deg);
      width: 27px;
      height: 2px;
      box-shadow: none;
    }

    &::after {
      transform: translate(-50%) rotate(-45deg);
    }
    &:hover {
      transition: 0.5s;
      background-color: $c-dark;
      &::before,
      &::after {
        background-color: #fff;
        width: 27px;
      }
    }
  }

  &:hover {
    &::after {
      width: 20px;
    }
  }
  @media (min-width: 1400px) {
    &::before,
    &::after {
      right: 15px;
      top: 14px;
    }
    &::after {
      top: 26px;
    }
  }
}

.page-header__nav {
  display: flex;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  align-items: flex-start;
  color: $c-light;
  background-color: $c-dark;
  overflow: hidden;

  .page-header--menu-opened & {
    transform: translateX(0);
  }
  @media (max-width: $tablet) and (orientation: portrait) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    flex-direction: column;
    align-items: flex-start;
    color: $c-dark;
    padding-top: 60px;
    padding-left: 50px;
    background-color: $c-dark;

    .page-header--menu-opened & {
      transform: translateX(0);
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    flex-direction: column;
    align-items: flex-start;
    transition: 0.5s;
    max-height: calc(var(--vh, 1vh) * 100);
    color: $c-light;
    background-color: $c-dark;
    overflow-y: auto;

    .page-header--menu-opened & {
      transform: translateX(0);
    }
  }
}

.page-header__menu {
  font-family: $font-alt;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.0418;
  width: 540px;
  color: $c-dark;
  margin: 0;

  @media (min-width: $stop-scaling) {
    font-size: 12px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    margin: auto 0;
    font-size: 2.4rem;
    color: $c-light;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0;
    font-size: 1.4rem;
    color: $c-light;
  }

  @media (max-width: $mobile) {
    margin: 0;
  }

  .page-header__menu-list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $tablet) and (orientation: portrait) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 3.8rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 2rem;
    }
  }

  li {
    margin-left: 4rem;
    margin: 0 0 2.5rem;

    @media (min-width: $stop-scaling) {
      margin-left: 40px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 0 2.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 0 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .menu__link {
    position: relative;
    display: block;
    color: $c-light;
    padding: 0 0.5em 0.5em;
    font-weight: bold;
    transition: 0.5s;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $c-light;
      display: none;
      left: 0;

      @media (min-width: $stop-scaling) {
        left: -5px;
        right: -5px;
      }

      @media (max-width: $tablet) and (orientation: portrait) {
        left: 0;
        right: 0;
        background-color: $c-dark;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        left: 0;
        right: 0;
        background-color: $c-dark;
      }
    }

    &.active {
      &::after {
        display: block;
      }
    }

    &:hover,
    &:focus {
      color: $c-light;
      outline: none;
      padding-left: 40px;

      &::after {
        opacity: 1;
        background-color: $c-blue;
      }

      @keyframes space {
        from {
          left: -100px;
        }
        to {
          left: 0;
        }
      }

      &::before {
        content: "—";
        position: absolute;
        top: 0;
        animation: space 0.5s;
      }
    }
  }
}

//end of left-column

.page-header__logo {
  @include hover;
  position: relative;
  display: flex;
  padding: 1rem 0;
  padding-bottom: 0.5rem;
  color: $c-light;
  width: 100%;

  @media (min-width: $stop-scaling) {
    top: -5px;
    padding: 10px 0;
    width: 113px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    top: 0;
    padding: 0.5rem 0;
    z-index: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    top: 0;
    padding: 0.5rem 0;
    z-index: 0;
  }

  @media (max-width: 320px) {
    width: 150px;
  }

  svg {
    display: block;
    max-width: 90%;
    height: auto;
    fill: $c-light;
    width: 200px;
    height: 60px;
    path {
      fill: inherit;
      stroke: inherit;
    }
    @media (min-width: 1400px) {
      fill: $c-dark;
    }
  }
  @media (min-width: 1400px) {
    width: auto;
    order: 0;
  }
}

//button with hovered menu

.page-header__personal-account {
  @media (max-width: $desktop) {
    display: none;
  }
}

.page-header__personal-account-hover {
  display: block;
  width: 180px;
  transition: 2s;
  color: $c-light;
  background-color: $c-dark;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 6%;
  padding-right: 15%;
  max-width: 180px;
  height: 46px;
  max-height: 47px;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  @media (max-width: $tablet) {
    display: none;
  }
  &:hover {
    background-color: $c-lightblue;
    .page-header__personal-account-arrow {
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 12px;
        height: 2px;
        background-color: $c-light;
        transform: rotate(-45deg);
        top: 50%;
        right: 25px;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 12px;
        height: 2px;
        background-color: $c-light;
        transform: rotate(45deg);
        top: 50%;
        right: 18px;
      }
    }
  }
  .page-header__personal-account-arrow {
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 12px;
      height: 2px;
      background-color: #fff;
      transform: rotate(45deg);
      top: 50%;
      right: 25px;
      transition: 0.5s ease-in-out;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 12px;
      height: 2px;
      background-color: #fff;
      transform: rotate(-45deg);
      top: 50%;
      right: 18px;
      transition: 0.5s ease-in-out;
    }
  }
}

.page-header__search {
  font-weight: 300;
  margin-right: 5%;
  display: flex;
  align-items: center;
  &-input {
    background: url("../img/icons/icons.svg#search") no-repeat center;
    border: none;
    width: 24px;
    height: 24px;
    color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    transition: all 0.5s;
    padding: 0;
    font-size: 0;
    background-size: cover;
    @media (min-width: 1400px) {
      background: url("../img/icons/icons.svg#search-dark") no-repeat right;
      background-size: 50%;
      width: 132px;
      height: 54px;
      border: 1px solid #00314f;
      font-size: 16px;
      order: 3;
    }
    &:placeholder-shown {
      font-family: inherit;
      padding-left: 15px;
    }
    &:focus {
      width: 162px;
      height: 54px;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;
      color: #000;
      background-color: #fff;
      cursor: auto;
    }
  }
}

.page-header__personal-account {
  display: none;
}

.page-header__personal-account-menu {
  display: none;
  position: absolute;
  z-index: 2;
  @include list-reset;
  background-color: $c-dark;
  left: 0;
  .page-header__personal-account-menu-item {
    transition: 0.2s;
    &:hover {
      background-color: $c-lightblue;
    }
  }
  a {
    display: block;
    color: $c-light;
    font-size: 16px;
    padding: 14px;
  }
}

.page-header__personal-account:hover {
  position: relative;
  .page-header__personal-account-menu {
    display: block;
    left: -66.5%;
    width: 300px;
  }
  .page-header__personal-account-hover {
    background-color: $c-lightblue;
    .page-header__personal-account-arrow {
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 12px;
        height: 2px;
        background-color: $c-light;
        transform: rotate(-45deg);
        top: 50%;
        right: 25px;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 12px;
        height: 2px;
        background-color: $c-light;
        transform: rotate(45deg);
        top: 50%;
        right: 18px;
      }
    }
  }
}

//page-header__menu

@media (min-width: $desktop) {
  .page-header__menu {
    .menu {
      align-items: flex-start;
      &:hover {
        a {
          opacity: 0.5;
        }
      }
      a {
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          opacity: 1;
        }
      }
    }
  }
}
