.page-main__wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.page-main__video {
    position: relative;
    @media (min-width: 40em) {
        height: 460px;
    }
    @media (min-width: 64em) {
        height: calc(100vh - 126px);
        overflow: hidden;
    }
}

.page-main__video-wrapper {
    position: relative;
    font-size: 0;
}

.page-main__video {
    &:hover,
    &:focus {
        .page-main__video-control {
            &--pause {
                opacity: 1;
            }
        }
    }
}

.page-main__video-control {
    display: none;
    @include btn-reset;
    position: absolute;
    content: "";
    @include center;
    &--play {
        width: 100px;
        height: 100px;
        border: 2px solid $c-light;
        border-radius: 50%;
        &::before {
            position: absolute;
            content: "";
            display: block;
            @include center;

            border-style: solid;
            border-width: 25px 0px 25px 40px;
            border-color: transparent transparent transparent $c-light;
        }
    }
    &--pause {
        width: 100px;
        height: 100px;
        border: 2px solid $c-light;
        border-radius: 50%;
        &::before {
            position: absolute;
            content: "";
            display: block;
            @include center;
            width: 40px;
            height: 40px;

            border-style: double;
            border-width: 0px 0px 0px 40px;
            border-color: $c-light;
        }
        opacity: 0;
    }
    @media (max-width: $tablet) {
        display: block;
    }
}

.page-main__links {
    @include list-reset;
    position: absolute;
    bottom: 50px;
    max-width: 380px;
    left: 80px;
    font-size: 16px;
    @media (max-width: $tablet) {
        position: static;
        max-width: 100%;
    }
}

.page-main__links-link {
    font-weight: bold;
    background-color: $c-blue;
    color: $c-light;
    padding: 27px 20px;
    display: block;
    width: 100%;
    text-decoration: underline;
    &--second {
        background-color: #fff;
        color: $c-blue;
    }
}
