#nav {
    width: 500px;
    ul {
        @include list-reset;
        display: flex;
        flex-direction: column;
        position: relative;
        &:hover > li {
            opacity: 0.5;
        }
    }
    ul li {
        margin-bottom: 20px;
        &:hover {
            opacity: 1;
        }
    }

    a {
        text-decoration: none;
        display: block;
        width: 100%;
        line-height: 40px;
        color: $c-light;
        font-weight: bold;
        &:hover {
            opacity: 1;
        }
    }

    @keyframes space {
        from {
            left: -100px;
        }
        to {
            left: -30px;
        }
    }
    a:hover,
    a:focus {
        opacity: 1;
        &.active {
            padding-left: 30px;
            opacity: 1;
            &::before {
                left: -30px;
                position: absolute;
                content: "— ";
                animation: space 0.5s ease-in-out;
                padding-left: 30px;
            }
        }
    }
    ul li ul {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 500px;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 1s;
        z-index: 123;
    }
    ul li:hover,
    ul li:focus-within > ul {
        visibility: visible;
        opacity: 1;
    }
    ul li ul li {
        margin-top: 2px;
        margin-bottom: 0;
        font-size: 0.8em;
    }
    ul li ul li ul {
        position: absolute;
        top: 0px;
        left: 500px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 1s;
    }
}

@media (max-width: $tablet) {
    #nav {
        ul li ul {
            position: fixed;
            background: #2c70e0;
            left: 10%;
            padding: 20px;
            padding-top: 40px;
            overflow: scroll;
        }
        ul li ul li ul {
            position: fixed;
            background: $c-blue;
            left: 20%;
        }
    }
}
