.video-page {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.video {
    position: relative;
    width: 100%;
    max-width: 1400px;
    max-height: 787.5px;
    height: 0;
    padding-bottom: 56.25%;
    background: #000;
    margin-bottom: 20px;
    &:hover {
        .video__button-shape {
            fill: #ff0000;
            fill-opacity: 1;
        }
    }
    &--enabled {
        cursor: pointer;
        .video__button {
            display: block;
        }
    }
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    width: 68px;
    height: 48px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    outline: none;
    display: none;
    &:focus {
        .video__button-shape {
            fill: #ff0000;
            fill-opacity: 1;
        }
    }
}

.video__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
}

.video__button-icon {
    fill: #ffffff;
}
